<%- include('../includes/head.ejs') %>
<body>
<%- include('../includes/navigation.ejs') %>
<main>
    <% if(locals.alertError && alertError.msg.length >0){ %>
    <div class="user-message user-message--error">
        <%= alertError.msg %>
    </div>
    <% } %>
    <form
            class="login-form"
            method="POST"
            action="/auth/login"
    >
        <div class="form-control">
            <label for="email">Email</label>
            <input
                    class="<%= locals.errors && errors.find(e=> { return e.param === 'email'}) ? 'invalid' : '' %>"
                    type="text"
                    name="email"
                    id="email"
                    value="<%=locals.seed ? seed.email : '' %>"
            />
        </div>
        <div class="form-control">
            <label for="password"">Password</label>
            <input
                    class="<%= locals.errors && errors.find(e=>{ return e.param === 'password'}) ? 'invalid' : '' %>"
                    type="password"
                    name="password"
                    id="password"
                    value="<%= locals.seed ? seed.password : '' %>"
            />
        </div>
        <% if(locals.csrfToken){ %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
        <% } %>

        <button type="submit">Login</button>
        <a class="form-control--reset" href="/auth/reset">Forgot password?</a>
    </form>
</main>
<%- include('../includes/end.ejs') %>
