<%- include('../includes/head.ejs') %>
<body>
<%- include('../includes/navigation.ejs') %>
<main>
    <% if(locals.alertError && alertError.msg.length >0){ %>
    <div class="user-message user-message--error">
        <%= alertError.msg %>
    </div>
    <% } %>
    <form
            class="login-form"
            method="POST"
            action="/auth/new-password"
    >
        <div class="form-control">
        <div class="form-control">
            <label for="password"">New Password</label>
            <input
                    type="password"
                    name="password"
                    id="password"
                    value=""
            />
        </div>
        <% if(locals.csrfToken){ %>
            <input type="hidden" name="userId" value="<%= userId %>"/>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
        <% } %>

        <button type="submit">Update</button>

    </form>
</main>
<%- include('../includes/end.ejs') %>
