<%- include('../includes/head.ejs') %>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <% if(cart.length){ %>
    <ul class="cart__item-list">
      <% for(c of cart){ %>
      <li class=""cart__item">
        <p><%= c.title + ' (' + c.quantity +')' %></p>
        <form method="POST" action="/cart-delete-item">
            <input type="hidden" name="productId" value="<%= c._id %>"/>
          <button class="btn danger" type="submit">Delete Items</button>
        </form>
      </li>
      <% } %>
    </ul>
    <% } else { %>
        <h1>No Products in Cart!</h1>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>
</body>
